.wrapper{
    background-color: black;
}
.game {
    color: rgb(81, 255, 12);
    
}
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.game-area {
    display: flex;
    padding: 4rem;
}

.scoreboard{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7rem;
    align-items: center;
    text-align: center;
}

.buttons {
    display: flex; 
    flex-direction: column;
    width: 25%;
}
.game-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    height: 45.625rem;
    width: 34.375rem;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
    border: 1px solid black;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: GREEN;
}

.orange {
    background-color: orange
}

.white {
    background-color: white;
}

.cell {
    border: 1px  solid rgb(85, 85, 85);
    width: 2.1875rem;
    height: 2.1875rem;
    padding: 0;
    margin: 0;
    
}

.game-peice{
    background-color: greenyellow;
}

.dead {
    background-color: brown;
}
